ion-modal#example-modal,ion-modal#update-modal,ion-modal#update-modal-group {
  overflow: scroll;
  --height: 300px;
  --width: 95%;
  --border-radius: 16px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --backdrop-opacity : 0.2
}

ion-modal#example-modal::part(backdrop) , ion-modal#update-modal::part(backdrop) ,ion-modal#update-modal-group::part(backdrop){
  background: rgba(209, 213, 219);
  opacity: 1;
}

ion-modal#example-modal ion-toolbar ,ion-modal#update-modal ion-toolbar ,ion-modal#update-modal-group ion-toolbar{
  --background: rgb(63, 63, 63);
  --color: white;
}

.IonList-Input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.IonList-Input input {

  border: none;
  background-color: transparent;
  outline: none;
}

.IonList-Input label {
  margin-right: 2rem;
}

.error {
  color: red;
  font-size: smaller;
}













